<div class="row">
  <h1>My Dashboard</h1>
</div>

<div class="row">
  <div class="large-12 columns employee-header">
    <div class="row">
      <div class="large-2 columns">
    <span class="employee-header-label">
      Hire Date:
    </span>
      </div>
      <div class="large-2 columns">
    <span class="hired_on">
      <%= current_user.hired_on.to_s(:concise) %>
    </span>
      </div>
      <div class="large-5 columns">
    <span class="employee-header-label">
      Available PTO Hours (as of <%= DateTime.current.to_s(:concise) %>):
    </span>
      </div>
      <div class="large-1 columns end right">
    <span class="pto_hours_available">
      <%= format("%.2f", current_user.pto_hours_available) %>
    </span>
      </div>
    </div>
  </div>
</div>
